In [ ]:
# # # map() Function
# # The map () function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple, etc.)
# Syntax: map(fun, iter)

In [ ]:
# 1.Double the number
def double(n):
  return  n *2
number =[36 ,38,39 ,5,12,13]
result = map(double , number)
list(result)

[72, 76, 78, 10, 24, 26]

In [ ]:
# 2. double of the number
def double(x):
  return x**2
number = [3,6,9,10,12]
result = map(double ,number)
print(list(result))

[9, 36, 81, 100, 144]

In [ ]:
# 3. square of the number
def squares (x):
 return x**2
number = [2,4,6,8,10,12]
result = map(squares,number)
print(list(result))

[4, 16, 36, 64, 100, 144]

In [ ]:
# 4. Even or odd

In [ ]:
numbers = [1,2,3,45,6]
result = map(lambda x: x%2 == 0 , numbers)
print(list(number))

[3, 6, 8, 9, 43]

In [ ]:
# 5. Calculating remainders using map():

def remainder(i):
    return i % 3

set_exm = {33, 102, 62, 96, 44, 28, 227}
upd_itms = map(remainder, set_exm)
print(list(upd_itms))

[0, 0, 2, 0, 2, 1, 2]

In [ ]:
# practice question

In [ ]:
# 1. **Triple all numbers in a list:** Use `map()` to triple each number in a given list of integers.
def tripal_number(n):
  return n*3
number= [1,3,5,7,9,13,17,19]
result = map(tripal_number, number)
print(list(result))

[3, 9, 15, 21, 27, 39, 51, 57]

In [ ]:
# 2.  **Add three lists:** Use `map()` and lambda to add three given lists element-wise.
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
list3 = [11,12,13,14,15]
result  = map(lambda x,y,z: x+y+z , list1, list2 , list3)
print(list(result))

[18, 21, 24, 27, 30]

In [ ]:
# 3.  **Listify strings:** Use `map()` to convert a list of strings into a list of lists, where each inner list contains the characters of the corresponding string.

listify_string = ["ninad", "shashank", "pakhode"]
result = list(map(list ,listify_string))
print(result)

[['n', 'i', 'n', 'a', 'd'], ['s', 'h', 'a', 's', 'h', 'a', 'n', 'k'], ['p', 'a', 'k', 'h', 'o', 'd', 'e']]

In [ ]:
# 4.  **Power of numbers:** Create a list containing the power of each number in a list, raised to its index using `map()`.

numbers = [2, 3, 4, 5]

result = list(map(lambda x: x[1] ** x[0], enumerate(numbers)))

print(result)

[1, 3, 16, 125]

In [ ]:
# 5.  **Square the elements:** Use `map()` to square each element of a list.

def square(x):
  return x**2
number = [2,4,6,8,10]
result = map(square , number)
print(list(result))

[4, 16, 36, 64, 100]

In [ ]:
# 6.  **Convert case and remove duplicates:** Use `map()` to convert all characters in a string to uppercase and lowercase, then eliminate duplicate letters.
text = "HelloWorld"
result = list(map(lambda x: (x.upper(), x.lower()), text))
print(result)

[('H', 'h'), ('E', 'e'), ('L', 'l'), ('L', 'l'), ('O', 'o'), ('W', 'w'), ('O', 'o'), ('R', 'r'), ('L', 'l'), ('D', 'd')]

In [ ]:
# 7.  **Add 5 to each item:** Write a `map()` function that adds 5 to each item in the list.
number=[ 2,3,6,7,9]
result = list(map(lambda x : x+5 , number))
print(result)

[7, 8, 11, 12, 14]

In [ ]:
# 8.  **Squares of items:** Write a `map()` function that returns the squares of the items in the list.
list_numbers = [12,1,45,65,11,5]
result = map(lambda x : x**2 ,list_numbers)
print(list(result))

[144, 1, 2025, 4225, 121, 25]

In [ ]:
# 9.  **Greeting:** Write a `map()` function that adds "Hello, " in front of each item in the list.

names = ["Alice", "Bob", "Charlie"]
greetings = map(lambda name: "Hello, " + name, names)
print(list(greetings))

['Hello, Alice', 'Hello, Bob', 'Hello, Charlie']

In [ ]:
# 10. **Round areas:** Use the `round()` and `range()` functions to round the elements of `circle_areas = [6.56773, 9.57668, 4.00914, 56.24241, 9.01344, 32.00013]`.
# List of circle areas
circle_areas = [6.56773, 9.57668, 4.00914, 56.24241, 9.01344, 32.00013]
rounded_areas = map(lambda x: round(x, 2), circle_areas)

print(list(rounded_areas))

[6.57, 9.58, 4.01, 56.24, 9.01, 32.0]

In [ ]:
# # Filter Function in Python
# # The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.
# Syntax: filter(function, sequence)

# Parameters:

# function: function that tests if each element of a sequence is true or not.
# sequence: sequence which needs to be filtered, it can be sets, lists, tuples, or containers of any iterators.

In [ ]:
# • Filtering Even Numbers from a List
def is_even(n):
  return n % 2 == 0
numbers = [1,2,3,4,5,67,8,9,10]
is_even_number = filter(is_even ,numbers )
print(list(is_even_number))

[2, 4, 8, 10]

In [ ]:
# Using Lambda with filter()

numbers = [1,3,5,7,8,9 ,10,11,12,14]
even_number = filter(lambda x : x %2==0 , numbers)
print(list(even_number))

[8, 10, 12, 14]

In [ ]:
#Filtering Non-Empty Strings

words = ["apple","","banana","cherry",""]
empty_words= filter(None , words)
print(list(empty_words))

['apple', 'banana', 'cherry']

In [ ]:
# Filter practice question

In [ ]:
# **1. Filtering Even Numbers** Write a Python program that filters out all even numbers from the given list using the `filter()` function.
numbers = [1,2,3,4,5,6,78,9,10,11,12,13,14]
result = filter(lambda x : x% 2 == 0 , numbers)
print(list(result))

[2, 4, 6, 78, 10, 12, 14]

In [ ]:
# **2. Filtering Names with a Specific Letter** Given a list of names, use `filter()` to extract names that start with the letter **'A'**.
names = ["Alice", "Bob", "Amanda", "Charlie", "Andrew"]
result = filter(lambda x : x.startswith("A"), names)
print(list(result))

['Alice', 'Amanda', 'Andrew']

In [ ]:
# **3. Filtering Non-Empty Strings** Write a program that removes all empty strings from the given list using `filter()`.
words = ["hello", "", "world", "", "Python", "", "filter"]
result = filter(None , words)
print(list(result))

['hello', 'world', 'Python', 'filter']

In [ ]:
# 4. Filtering Prime Numbers** Create a function that filters out all prime numbers from a given list using `filter()`.
def filter_primes(numbers):
    return list(filter(lambda n: n > 1 and all(n % i != 0 for i in range(2, int(n**0.5) + 1)), numbers))

# Input list
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

# Get only prime numbers
prime_numbers = filter_primes(numbers)

print(prime_numbers)

[2, 3, 5, 7]

In [ ]:
# 5. Filtering Words with Length Greater Than 5** Use `filter()` to extract words that have more than 5 characters.
words = ["apple", "banana", "cherry", "kiwi", "watermelon", "grape"]
result = filter(lambda x : len(x)> 5 , words)
print(list(result))

['banana', 'cherry', 'watermelon']

In [ ]:
# Filtering Divisible by 3** Filter out all numbers in the list that are **not** divisible by 3.
numbers = [3, 6, 9, 12, 15, 20, 25, 30]
result = filter(lambda x : x%3== 0, numbers)
print(list(result))

[3, 6, 9, 12, 15, 30]

In [ ]:
# 7. Filtering Palindromes** Use `filter()` to keep only the palindrome words from a given list.
words = ["madam", "racecar", "python", "level", "hello"]
palindromes = list(filter(lambda x: x == x[::-1], words))
print(palindromes)

['madam', 'racecar', 'level']

In [ ]:
8. # Filtering Employees by Age** Given a list of employees with their ages in a dictionary, filter out employees who are above 30 years old.
employees = [("John", 28), ("Sarah", 35), ("Mike", 40), ("Anna", 24)]
result = filter(lambda x : x[1]> 30, employees)
print(list(result))

[('Sarah', 35), ('Mike', 40)]

In [ ]:
# 9. Filtering Vowels from a String** Use `filter()` to extract only vowels from a given string.
text = "hello world"
vowels = "aeiouAEIOU"
only_vowels = list(filter(lambda ch: ch in vowels, text))
print(only_vowels)

['e', 'o', 'o']

In [ ]:
# 10. Filtering Numbers in a Range** Given a list of numbers, filter out only the numbers that are between 10 and 50.
numbers = [5, 12, 30, 50, 75, 100, 18, 45]

filter_numbers = filter(lambda x: 10 <= x <= 50, numbers)

print(list(filter_numbers))

[12, 30, 50, 18, 45]

In [ ]:
# reduce() Function?
# • The reduce() function is used to apply a rolling computation to a
# sequence of elements.
# • It is part of the functools module.

In [ ]:
from functools import reduce
def add(x,y):
 return x+y
numbers = [1,2,3,4,5]
result = reduce(add,numbers)
print(result)

15

In [ ]:
# • Using reduce() to compute the product of all numbers in a list.

from functools import reduce

numbers = [1,2,3,4,5]
product = reduce(lambda x,y : x *y , numbers)
print(product)

120

In [ ]:
# • Finding the maximum number using reduce()

from functools import reduce
numbers = [10,25,5,100,35]
max_num = reduce(lambda x,y : x if x>y else y , numbers)
print(max_num)

100

In [ ]:
# • The optional third parameter (initializer) is useful in some cases

from functools import reduce
number = [1,2,3,4,5]
result = reduce(lambda x,y : x+y , number ,10)
print(result)

25

In [ ]:
# Reduce Practice Questions

In [ ]:
# 1. Sum of All Elements Use `reduce()` to find the sum of all numbers in a list.
numbers = [1, 2, 3, 4, 5]
result = reduce (lambda x,y: x+y ,numbers)
print(result)

15

In [ ]:
# 2. Product of All Elements**   Use `reduce()` to calculate the product of all numbers in a list.
numbers = [1, 2, 3, 4, 5]
result = reduce(lambda x,y: x*y,numbers)
print(result)

120

In [ ]:
# 3. Maximum Element in a List**  Use `reduce()` to find the largest number in a list.
numbers = [3, 10, 2, 8, 15, 6]
result = reduce( lambda x,y :  x if x > y else y , numbers)
print(result)

15

In [ ]:
# 4. Minimum Element in a List**  Use `reduce()` to find the smallest number in a list.
numbers = [3, 10, 2, 8, 15, 6]
result = reduce(lambda x,y : x if x < y else y , numbers)
print(result)

2

In [ ]:
# 5. Concatenating Strings** Use `reduce()` to concatenate all strings in a list into a single string.
words = ["Python", "is", "awesome"]
result = reduce(lambda x,y :x+y , words)
print(result)

Pythonisawesome

In [ ]:
#6. Finding the Longest String**  Use `reduce()` to find the longest string in a list of words.
words = ["apple", "banana", "watermelon", "kiwi"]
result = reduce(lambda x,y : x if len(x) > len(y) else y , words )
print(result)

watermelon

In [4]:
# 7. Creating a Dictionary from a List of Tuples**  Use `reduce()` to convert a list of key-value tuples into a dictionary.
pairs = [("a", 1), ("b", 2), ("c", 3)]
result = reduce(lambda x,y : x+y , pairs)
print(result)

('a', 1, 'b', 2, 'c', 3)

In [6]:
# 8. Finding the Second Largest Number** Use `reduce()` to find the **second largest** number in a list.
numbers = [10, 25, 45, 67, 89, 100, 89]
result = reduce(lambda x,y : x , numbers)
print(result)

100

In [7]:
# 9 . Finding the Most Frequent Element**  Use `reduce()` to find the most frequently occurring element in a list.
elements = ["apple", "banana", "apple", "cherry", "banana", "apple"]
result = reduce(lambda x,y : x if elements.count(x) > elements.count(y) else y , elements)
print(result)

apple

In [8]:
# 10. Finding the Difference Between Consecutive Elements**  Use `reduce()` to calculate the difference between consecutive elements in a list.
numbers = [5, 10, 15, 20, 25]
result = reduce(lambda x,y : y-x , numbers)
print(result)

15